<!DOCTYPE html>
<html>
<body>

<form method = "POST" action = "/operation">
    Number 1:
    <input type="number" name="num1">
    Number 2:
    <input type="number" name="num2">

    <p>Answer: <%= Number3 %></p>
    <input type="submit" value="+" formaction="/add">
    <input type="submit" value="-" formaction="/sub">
    <input type="submit" value="/" formaction="/div">
    <input type="submit" value="*" formaction="/mul">
</form>

</body>
</html>